body { background-color: linen; margin: 75px; }
h1   { color: red; text-align: center; 
		font-size: 60px;
		font-family: 'American-Typewriter';
		font-weight: bolder;
		margin-top: 0.01em;
		margin-bottom: 0.01em;
		line-height: 75%;
	}
h2   { color: red; text-align: center; 
	   font-size: 36px;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	   line-height: 80%;
	}
h3   { color: brown; text-align: center; 
	   font-size: 30px;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}

h4   { color: brown; text-align: center; 
	   font-size: 30px;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}

h5   { color: brown; text-align: center; 
	   font-size: 30px;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}

h6   { color: brown; text-align: center; 
	   font-size: 26px;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}
	
p    {  color: black; 
	   font-size: 20px;
	   font-family: 'American-Typewriter';
	   font-weight: normal;
	}

li    {  color: black; 
	   font-size: 16px;
	}

.bigFont li{
font-size:22px;
}

.center-text {
  text-align: center;
}
