html {
        font-size: 24px; /* Base font size for the entire document */
    }

body { background-color: linen; 
	margin: clamp(5px, 2vmax, 75px); /* Margin between 5px and 75px, scaling with 2vmax */
	font-family: 'American-Typewriter', 'Helvetica', sans-serif;
	font-size: 100%;
	}

h1   { color: red; text-align: center; 
		font-size: 3rem; /* responsive font size */
		font-family: 'American-Typewriter';
		font-weight: bolder;
		margin-top: 0.01em;
		margin-bottom: 0.01em;
		line-height: 50%;
	}
h2   { color: red; text-align: center; 
	   font-size: 2.75rem;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	   line-height: 60%;
	}
h3   { color: brown; text-align: center; 
	   font-size: 2.5rem;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}

h4   { color: brown; text-align: center; 
	   font-size: 2.25rem;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}

h5   { color: brown; text-align: center; 
	   font-size: 2rem;
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}

h6   { color: brown; text-align: center; 
	   font-size: 1.5rem
	   font-family: 'American-Typewriter';
	   font-weight: bold;
	   margin-top: 0.01em;
	   margin-bottom: 0.01em;
	}
	
p    {  color: black; 
	   font-size: 1rem;
	   font-family: 'American-Typewriter';
	   font-weight: normal;
	}

.center-text {
  text-align: center;
}

.imgr {
  max-width: 100%;
  max-width: 150px; /* Set a maximum width for the image */
  height: auto;
  position: relative;
  top: 5px;
  left:10px;
}
