
html, body{
	margin: 100;
	background: rgb(0, 0, 0);
	text-align: left;
	color: white;
	font-family: Arial;
	min-height: auto;
	font-size: 24px;
}

h1{
	color: beige;
	font-family: Arial;
	font-size: 3em;
}

h2{
	color: yellow;
	font-size: 2.5em;
}

h3{
	color: orange;
	font-size: 2.0em;
}

h4{
	color: cyan;
	font-size: 1.5em;
}

p {
	color: white
	font-size: 1em;
}

<style type="text/css">
.centerImage
{
 text-align:center;
 display:block;
}
</style>

.unselectable {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */       
  }

